.carrinho-caixa{
    padding: 20px;
    background-color: white;
    margin: 5% 1% 8% 1%;
    
}
.borda-bottom{
    border-bottom: 1px solid rgb(172, 170, 170);
    padding: 10px;
}
h2{
    font-size: 2em;
    color: #ffcc01;
}
.img-carrinho{
    width: 25%;
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
}
.img-carrinho img{
    width: 90%;
}
.descricao-produto{
    width: 50%;
}
.quantidade-produto{
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.valor-produto{
    width: 30%;
    display: flex;
    /* border: 1px solid yellow; */
    align-items: center;
    flex-direction: column;

    position: relative;  
}
.quantidade-produto select{
    width: 50%;
    color: #606060;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
.descricao-carrinho{
    width: 50%;
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;  
}
.descricao-carrinho h2{
    color: #ffcc01;
    margin-bottom: 2%;   
}

.descricao-carrinho p.estoque{
   color: rgb(7, 175, 7);
   padding: 10px 0;
   font-weight: bold;
}
.info-precos-carrinho{
    width: 25%;
    /* border: 1px solid blue; */
    padding-left: 3%;
}
.info-precos-carrinho h2{
    color: #ffcc01;
    font-size: 1.5em;
    text-align: center;
}
h4{
    padding: 10px;
    color: #474646;
    font-size: 1em;

}

.linha-conteudo-duplo{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.info-precos-carrinho .row{
    padding: 0;
}
.total-pedido h4{
    font-size: 1.3em;
}
.button-finalizar button{
    background-color: orange;
    color: black;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}
.button-finalizar button:hover{
    background-color: #ffcc01;
}
.button-remover{
    background-color: white;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: orange;
    font-weight: bold;
    font-size: 1em;
}

