@font-face {
    font-family: 'titulo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    overflow-x: hidden;
    background-color: #f0f0f0;
}
#container{
    width: 100%;
    margin: auto;
   margin-top: 10px;
   padding: 10px;
}

header{
    background-color: #ffcc01;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;
    min-width: 700px;
}
.icon-login{
    color: white;
}

#ul-rigth{
    position: absolute;
    right: 40px;
    top: 10px;

}
#ul-login{
    position: absolute;
    right: 200px;
    top:10px;

}
i{
   color:rgb(247, 58, 58);
   font-size: 1.3em;
   opacity: 1;
   cursor: pointer;

}
h1 {
    font-size: 2.3em;
    font-family: titulo;
    color: #606060;
    text-align: center;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    margin: auto;
}
ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 1.5em;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold ;
}
a:hover{
    transition: 0.3s;
    color: rgb(247, 230, 230);
   
}
a:hover i {
    transition: 0.3s;
    opacity: 0.5;
}

/* container produto */ 
.sombra{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
}
.container-produto{
 
    width: 210px;
    height: 280px;
    font-size: 0.8em;
    background-color: white;
    padding: 10px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.4s;

}
.container-resultado{
    width: 310px;
    height: 400px;
    font-size: 0.8em;
    background-color: white;
    padding: 10px;
    margin: 20px auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.4s;
}
.container-produto img, .container-resultado img{
    width: 80%;
    margin-bottom: 15px;
    max-height: 60%;
}
h3{
 font-size: 2em;
 color: #ffcc01;
 position: absolute;
 bottom: 25px;

}
h1.titulos-produtos{
    text-align: left;
    color: #ffcc01;
    margin-top: 30px;
    padding: 0;
}
 i.icon-buy{
    font-size: 2em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:#9c7b65;
    padding: 5px;
}
.container-produto i:hover, .container-resultado i:hover{
    color: #606060;
}
.container-produto:hover, .container-resultado:hover {
    transform: scale(1.17);
    transition: all 0.4s ease-in;
    z-index: 2;
}
.container-resultado:hover{
height: 420px;
}
.container-resultado:hover{
    display: block;
    transition: all 1s ease-in;
}
.container-resultado p {
    color: #606060;
    padding: 10px;
    display: none;
    
}
i.icon-star{
    font-size: 2em;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    color:rgb(212, 201, 201);
    transition: 0.8s;
} 
i.icon-star:hover {
 color: rgb(231, 231, 13);
}
footer{
    width: 100%;
    background-color: white;
    margin-top: 20px;
}
.conteudo-footer img{
    width: 180px;
    height: 180px;
    align-items: center;
}
.conteudo-footer{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 10px;
    color: #606060;
    align-items: center;
    justify-content: center;
}
.conteudo-footer h1{
    font-size: 1.6em;
    color: #ffcc01 ;
}
.conteudo-footer i{
    font-size: 2em;
    color:rgb(180, 169, 169);
    padding: 10px;
}
.conteudo-footer i:hover{
    color: #dad8d8;
}
.conteudo-footer p{
    font-size: 1em;
}
.voltar-inicio{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
.voltar-inicio h2 a{
    color: rgb(131, 124, 124);
}
.voltar-inicio:hover{
    background-color: #dad8d8;
    cursor: pointer;
}
.img{
    width: 100%;
    padding: 10px;
    display: flex;

    margin: 20px 0;

}
.img img{
   width: 98%;
}
.conteudo_da_img{
    background-color: #fff;
    padding: 10px;
    width: 70%;
}
.area_img{
    width: 30%;
}
.form-pesquisa{
    position: relative;
    left: 0;
    bottom: 0;
    width: 30%;
    display: inline;
    font-size: 1em;
}
.form-pesquisa button{
    position: absolute;
    right: 4.3%;
    bottom: 5%;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #606060;
}
.form-pesquisa button:hover{
 border: 1px solid #ccc;
 padding: 7px 9px;
 border-radius: 8px;
}
input{
    margin-left: 25px;
    width: 90%;
    padding: 10px 30px 10px 10px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    font-size: 1em;

}
 .form-admin form{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-admin input,select{
    width: 90%;
    padding: 12px;
    font-size: 1.1em;
    color: black;
    background-color: rgb(216, 216, 216);
    margin: 10px auto;
    border: 1px solid #ccc;
}
.form-admin input::placeholder{
    color: rgb(133, 122, 122);
}

label{
    font-weight: bold;
    font-size: 1.2em;
    color: #241d1d;
    margin-bottom: 10px
} 
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.form-campo1{
    width: 30%;
    /* border: 1px solid red; */
    
}
.form-campo2{
    width: 40%;
    /* border: 1px solid black; */
   
    display: flex;
    justify-content: center;
    align-items:center;
}
.form-campo3{
    width: 30%;
    text-align: center;
    /* border: 1px solid yellow; */
} 
.container-resultado h4{
    font-size: 1.5em;
}
input.botao-salvar{
    background-color: #ffcc01;
    cursor: pointer;
}
textarea{
    background-color: rgb(216, 216, 216);
    font-size: 1.1em;
    padding: 10px;
    width: 90%;
    
    max-width: 95%;
    max-height: 25%;
}
.produto-erro, .produto-salvo{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}
.produto-salvo{
    color: green;    
}
.produto-erro{
    color: red;
}
/* .produto-no-wrap{
    display: flex;
    flex-flow: row nowrap;
} */

/* ESTILO DO CAROUSEL DO PRODUTO SLIDE */

i.left{
    left: 5px;
}
i.right{                
    right: 5px; 
}
i.right, i.left{
    display: none;
    position: absolute;
    z-index: 23;
    background-color: rgb(231, 229, 229);
    font-size: 2em;
    padding: 15px 20px;
    border-radius:50%;
    color: orange;
    top:40%;
    cursor: pointer;
}
.row:hover i.right, .row:hover i.left{
    display: block;
}
i.left:hover, i.right:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    color: rgb(216, 142, 5);
}
.row-produtos{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    /* border: 1px solid red; */
}

.categoria-nova form  button{
    background-color: orange;
    color: black;
    padding:10px;
    border-radius: 10px;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}
.categoria-nova form  input,select#remover{
    
    color: black;
    padding:10px;
    border-radius: 10px;
    width: 800px;
    margin: 10px;
}
.categoria-nova input{
    padding: 15px;
    width: 100%;
    
}
.busca{
    display: none;
}
.coluna{
    display: flex;
    flex-direction: column;
    
}


