@font-face {
    font-family: 'titulo';
    src: url('../_fonts/bubblegum-sans-regular.otf');
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #f0f0f0;
}
#container{
    width: 100%;
    margin: auto;
   margin-top: 10px;
   padding: 10px;
}

header{
    background-color: #ffcc01;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;
    min-width: 700px;
}
.icon-login{
    color: white;
}

#ul-rigth{
    position: absolute;
    right: 40px;
    top: 10px;

}
#ul-login{
    position: absolute;
    right: 200px;
    top:10px;

}
i{
   color:rgb(247, 58, 58);
   font-size: 1.3em;
   opacity: 1;
   cursor: pointer;
    transition: 0.6s;
}
h1 {
    font-size: 2.3em;
    font-family: titulo;
    color: #606060;
    text-align: center;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    margin: auto;
}
ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 1.5em;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold ;
    cursor: pointer;
    transition: 0.6s;
}
a:hover{
    transition: 0.3s;
    color: rgb(247, 230, 230);
   
}
a:hover i {
    transition: 0.3s;
    opacity: 0.5;
}

/* container produto */ 
.sombra{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
    
}
.row-button-unico{
    display: flex;
    flex-direction: row;
}
.container-produto{
 
    width: 210px;
    height: 280px;
    font-size: 0.8em;
    background-color: white;
    padding: 10px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.4s;

}
.container-resultado{
    width: 250px;
    height: 320px;
    font-size: 0.8em;
    background-color: white;
    padding: 10px;
    margin: 20px auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.4s;
}

.container-produto img, .container-resultado img{
    width: 80%;
    margin-bottom: 5px;
    max-height: 60%;
    height: 55%;
}
h3{
 font-size: 2em;
 color: #ffcc01;
 position: absolute;
 bottom: 5px;

}
h1.titulos-produtos{
    text-align: left;
    color: #ffcc01;
    margin-top: 30px;
    padding: 0;
}
 i.icon-buy{
    font-size: 2em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:#9c7b65;
    padding: 5px;
}
.container-produto i:hover, .container-resultado i:hover{
    color: #606060;
}
.container-produto:hover, .container-resultado:hover {
    transform: scale(1.17);
    transition: all 0.4s ease-in;
    z-index: 2;
}
.container-resultado:hover{
    width: 270px;
    height: 350px;
}

.container-resultado:hover p{
    display: block;
    transition: all 1s ease-in;
}
.container-resultado p {
    color: #606060;
    padding: 10px;
    display: none;
}
i.icon-star, .icon-edit{
    font-size: 2em;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    color:rgb(212, 201, 201);
    transition: 0.8s;
} 
.icon-edit{
    color: #606060;
}
i.icon-star:hover {
 color: rgb(231, 231, 13);
}
footer{
    width: 100%;
    background-color: white;
    margin-top: 20px;
}
.conteudo-footer img{
    width: 180px;
    height: 180px;
    align-items: center;
}
.conteudo-footer{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 10px;
    color: #606060;
    align-items: center;
    justify-content: center;
}
.conteudo-footer h1{
    font-size: 1.6em;
    color: #ffcc01 ;
}
.conteudo-footer i{
    font-size: 2em;
    color:rgb(180, 169, 169);
    padding: 10px;
}
.conteudo-footer i:hover{
    color: #dad8d8;
}
.conteudo-footer p{
    font-size: 1em;
}
.voltar-inicio{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
.voltar-inicio h2 a{
    color: rgb(131, 124, 124);
}
.voltar-inicio:hover{
    background-color: #dad8d8;
    cursor: pointer;
}
.img{
    width: 100%;
    padding: 10px;
    display: flex;

    margin: 20px 0;

}
.img img{
   width: 98%;
}
.conteudo_da_img{
    background-color: #fff;
    padding: 10px;
    width: 70%;
}
.area_img{
    width: 30%;
}
.form-pesquisa{
    position: relative;
    left: 0;
    bottom: 0;
    width: 30%;
    display: inline;
    font-size: 1em;
    /* border:1px solid red; */
}
.form-pesquisa i {
    padding: 0;
    margin: 0;
}
.pesquisaCliente{
    height: 97%;
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
    transition: 0.5s;
    background-color: #ecebe5;
}
.pesquisaCliente:hover{
background-color: #c4c3c0;

}
.form-pesquisa i{
    color: #333;
}
.form-pesquisa input{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 10px 70px 10px 5px;
}
.form-pesquisa input:focus{
    outline: 0;
    box-shadow: none;
}
input{
    margin-left: 25px;
    width: 90%;
    padding: 10px 40px 10px 10px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    font-size: 1em;

}
.form-admin{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.form-config{
    width: 100%;
}
.categoria{
    width: 60%;
    padding: 12px;
    font-size: 1.1em;
    color: black;
    background-color: rgb(216, 216, 216);
    margin: 10px 0;
    border: 1px solid #ccc;
}
.form-config button, button.button-editar{
    text-transform: uppercase;
    background-color: #ffcc01;
    border: 1px solid #ffcc01;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}
.button-editar:hover{
    background-color: white;
    color: #ffcc01;
    outline: 1px solid #ffcc01;
}




.botao-salvar-cadastro{
    background-color: #ffcc01;
    cursor: pointer;
    border: 1px solid rgb(126, 121, 121);
    opacity: 1;
    margin: auto;
    transition: 0.5s;
}
.botao-salvar-cadastro:hover{
    background-color: white;
    color: #ffcc01;
    outline: 1px solid #ffcc01;
}

.form-admin input::placeholder{
    color: rgb(133, 122, 122);
}

label{
    font-weight: bold;
    font-size: 1.2em;
    color: #241d1d;
    margin-bottom: 10px
}
label.files, .escolhido{
    margin: 5px auto;
    font-size: 1em;
    width: 70%;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffcc01;
    color: #333;
    border: 1px solid rgb(216, 216, 216);
}
label.escolhido{
    background-color: white;
    color: #ffcc01;
    border: 1px solid #ffcc01;
    
}
.buttonTodosProdutos{
width: 70%;
}
label.files:hover{
    
    background-color: white;
    color: #ffcc01;
    outline: 1px solid #ffcc01;
} 
input[type='file']{
    display: none;
}
.coluna{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.itens-left{
        display: flex;
        
    text-align: left;
}
.padding{
    padding: 5px 10px;
    margin: 10px 20px;
    font-weight: bold;
}
.conteudo-produto-span{
    color: #ffcc01;
}
.border-top{
    border-top: 1px solid #ccc;
}

.form-campo1{
    width: 35%;
    text-align: center;
}
.form-campo2{
    width: 35%;
    text-align: center;
}
.form-campo3{
    width: 35%;
    text-align: center;
} 
.row-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
}
.row-form h4{
    font-size: 1.2em;
}
.container-resultado h4{
    font-size: 1.5em;
    
}
.form-admin select, input{
    width: 90%;
    padding: 12px;
    font-size: 1.1em;
    color: black;
    background-color: rgb(216, 216, 216);
    margin: 10px auto;
    border: 1px solid #ccc;
}
input.botao-salvar, input.botao-remover, input.botao-cancelar{
    background-color: rgb(107, 212, 107);
    cursor: pointer;
    opacity: 1;
    margin: 10px;
}
input.botao-remover{
    background-color: rgb(247, 58, 58);
}
input.botao-cancelar{
    background-color: orange;
}
input.botao-salvar:hover, input.botao-remover:hover, input.botao-cancelar:hover{
    opacity: 0.9;
}
textarea{
    background-color: rgb(216, 216, 216);
    font-size: 1.1em;
    padding: 10px;    
    max-width: 90%;
    max-height:130px;
    margin: auto;
    
}
.produto-erro, .produto-salvo{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.produto-salvo{
    color: green;    
}
.produto-erro{
    color: red;
}
/* .produto-no-wrap{
    display: flex;
    flex-flow: row nowrap;
} */

/* ESTILO DO CAROUSEL DO PRODUTO SLIDE */

i.left{
    left: 5px;
}
i.right{                
    right: 5px; 
}
i.right, i.left{
    display: none;
    position: absolute;
    z-index: 23;
    background-color: rgb(231, 229, 229);
    font-size: 2em;
    padding: 15px 20px;
    border-radius:50%;
    color: orange;
    top:40%;
    cursor: pointer;
}
.row:hover i.right, .row:hover i.left{
    display: block;
}
i.left:hover, i.right:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    color: rgb(216, 142, 5);
}
.row-produtos{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    /* border: 1px solid red; */
}

.categoria-nova button{
    background-color: orange;
    color: black;
    padding:10px;
    border-radius: 10px;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}
.categoria-nova form select#remover{
    color: black;
    padding:10px;
    border-radius: 10px;
    width: 800px;
    margin: 10px;
}
.categoria-nova input{
    padding: 15px;
    width: 100%;
    
}
.busca{
    display: none;
}
.coluna{
    display: flex;
    flex-direction: column;
    
}
.align-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-filtro, .buttonTodosProdutos{
    background-color: #ffcc01;
    border: 1px solid #ffcc01;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    transition: 0.5s;
    
}
.button-filtro:hover, .buttonTodosProdutos:hover, .iconFechaPesquisa:hover{
    background-color: white;
    color: #ffcc01;
    outline: 1px solid #ffcc01;
}
.buttonTodosProdutos{
    width: 50%;
}
.align-form select{
    width: 90%;
    border-radius: 10px;
    /* background-color: red; */
}
.titulo_pesquisa{
    font-size: 1.2em;
    color: #b19524;
    font-weight: bold;
}
.margin{
    margin: 20px;
}
button{
    cursor: pointer;
    border: 0;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    outline: 0;
}
.iconFechaPesquisa{
    font-size: 1.5em;
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: #ffcc01;
    border: 1px solid #ffcc01;
    padding: 0 5px;
    border-radius: 50%;
    color:#333;
    transition: 0.5s;
    cursor:pointer;
}
.tituloFavoritos{
    color: #333;
    text-align: left;
}
i.favorito{
    color: rgb(231, 231, 13);
}
.resultadoPesquisa{
    margin: 20px;
}
.descricaoProduto{
    font-size: 0.96em;
}
.row-produtos{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid red;
      */
}
li.centralizar{
    cursor: pointer;
}
.p-header{
    font-size: 0.8em;
    color: #606060;
    font-weight: bold;
}

.iconMenu{
    margin-left: 5px;
    color: #606060;
}

.menuInterativo{
    color: white;
    font-weight: bold;
    transition: 0.7s;
    display: none;
}
.menuInterativo ul{
    width: 100%;
    background-color: #b19524;
}
.menuInterativo ul li{
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    transition: 1s;

}
.menuInterativo ul li:hover{
    color: #4e4a4a;
    background-color:white ;
   
}
.d-block{
    display: block;
}

