
@media(max-width: 1200px){
   
    .form-pesquisa{
        width: 50%;
    }
}
@media(max-width: 1000px){
    #ul-login, #ul-rigth{
        display: none;
    }
    .form-pesquisa{
        width: 60%;
    }
    .form-pesquisa input{
     /* padding: 5% 2% 5% 10%; */
     font-size: 1.6em;
    }
    .slider, .slides{
        width: 100%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;       
    }
    .slide{

        border: 2px solid red;
        width: 100%;
        height: 100%;
        flex-direction: column;

    }
   .img-slide{
        /* width: 70%;
        height: 250px; */
   }
   #footer_contuedo{
    /* flex-direction: column; */
    flex-wrap: wrap;
   }
   .conteudo-footer{
    width: 48%;
   }
   .conteudo-acima-footer{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
   }
   .area_img, .conteudo_da_img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   box-shadow: none;

   }
   .area_img img{
    max-width: 60%;
    margin: auto;
   }


@media(max-width: 600px){
   #footer_contuedo{
    /* flex-direction: column; */
    flex-wrap: wrap;
   }
   .conteudo-footer{
    width: 100%;
   }
   
}